@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body{
	height: 290vh;
}
header{
	background-image: url(images/desktop/image-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
}
main{
	height: 250vh;
}
nav{
	background:transparent;

}
.logo{
	margin-left: 10%;
	padding: 0 20px;
	padding-top: 15px;
	cursor: pointer;
	margin-top: 50px;

}
nav ul{
	margin-top: -35px;
	float: right;
	margin-right: 10%;
	top: 30px;
}
nav ul li{
	display: inline-block;
	width: 80px;
	line-height: 4;
}
nav ul li a {
	color: hsl(0, 0%, 100%);
	font-family: 'Alata', sans-serif;
}
ul li a{


}
ul li a:hover{

	border-bottom: 2px solid hsl(0, 0%, 100%);
	cursor: pointer;
	transition: 0.1s ;
	transition-timing-function: ease-in-out;
 	

}
header p{
	text-transform: uppercase;
	width: 450px;
	box-sizing: border-box;
	color: hsl(0, 0%, 100%);
	border: 2px solid hsl(0, 0%, 100%);
	margin-left: 10%;
	margin-top: 50px;

	font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;
	padding-left: 10px ;
	padding-top: 10px;
	padding-bottom: 10px;
}
.middle{
	padding-top: 80px;
	margin-left: 150px;
	height: 50vh;
}
.middle img{
	width: 500px;
	height: 350px;
}
.middlep{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color:  hsl(0, 0%, 0%);
	width: 250px;
	font-size: 30px;
	

}
.midl{
	color: hsl(0, 0%, 55%);
	font-size: 15px;
	text-transform:capitalize;
	width: 430px;
	margin-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
}
.interactive,.middle img{
	float: left;
}
.interactive{
	background-color: hsl(0, 0%, 100%);
	height: 120px;
	margin-left: -100px;
	margin-top: 150px;
	padding-left: 80px;
	padding-top: 80px;

}
section{
	width: 100%;
	height: 135vh;
}
.ham{
	display: none;

}
.sec{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	margin-left: 150px;
	color: hsl(0, 0%, 0%);
	line-height: 3;
	font-size: 35px;
}
.see{
	float: right;
	margin-right: 300px;
	font-size: 17px;
	box-sizing: border-box;
	border: 2px solid hsl(0, 0%, 0%);
	width: 150px;
	font-family: 'Alata', sans-serif;
	height: 50px;
	padding-top: 7px;
	padding-left: 	50px;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -80px;
	font-family: 'Alata', sans-serif;
}
.see:hover{
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	background-color: hsl(0, 0%, 0%);
}
.see1{
	display: none;
}
.ces{
	margin-bottom: 20px;
	margin-top: 80px;
}
.images{
	cursor: pointer;
	align-content: center;
	width: 100%;
	height: 180vh;
	margin-top: 80px;
	margin-bottom: 100px;
	}
	
.images1,.images2{
	margin-left: 150px;
	
	display: grid;
	grid-template-columns: 280px 280px 280px 280px;
	gap: 10px;


}
.images1 img,
.images2 img{
	opacity: 1;
}
.images1 img:hover,
.images2 img:hover{
	opacity: 0.2;
}


.earth,.Arcade,.team,.gri{
	padding-bottom: 50px;
	margin-right: 0px ;

}
.above,.borealis,.curiosity,.fisheye{
	padding-bottom: 50px;
	margin-right: 0px ;
	
} 

.earth,.Arcade,.team,.grid,.above,.borealis,.curiosity,.fisheye:hover{
	background-color: hsl(0, 0%, 100%);

}

.para{
	text-transform: uppercase;
	margin-top: -70px;
	color: hsl(0, 0%, 100%);
	width: 50px;
	opacity: 1;
	text-align-last: center;
	margin-left: 20px;
	font-family: 'Josefin Sans', sans-serif;

}

.sect1{
	width: 100%;
	height: 170vh;
}
footer{
	background-color: hsl(0, 0%, 0%);
	height: 200px;
	width: 100%;

}
footer ul{
	margin-left: 10%;
}
footer ul li {
	margin-top: 20px;
	display: inline-block;
	width: 50px;
	line-height: 2;
	font-family: font-family: 'Alata', sans-serif;
	width: 60px;
}
footer ul li a{
	color: hsl(0, 0%, 100%);
	font-family: 'Josefin Sans', sans-serif;
}

.lst{
	margin-left: 150px;
	padding-top: 10px;
}
footer p{

	margin-top: 20px;
	color: hsl(0, 0%, 41%);
	font-family: 'Alata', sans-serif;
}
.fa-brands{
	color: hsl(0, 0%, 100%);
	padding-bottom: -30px;
	font-size: 25px;
	width: 30px;
	text-indent: 100px;

}
.icon{
	margin-right: 350px;
	float: right;
	height: 80px;
	margin-top: -70px;
}
.mobile1,.mobile2{
	display: none;
}
@media (max-width:500px){
	header{
		background-image: url(images/mobile/image-hero.jpg);
		width: 100%;
		height: 700px;
	}
	main{
		width: auto;
	}
	header p{
		margin-top: 150px;
		padding-top: 20px;
		width:auto;
		height: 330px;
		box-sizing: border-box;
		padding-left: 20px;
		line-height:1.2;
		margin-left: 2%;
		font-size: 45px ;

	}
	nav{
		width: 100%;

		}
		nav ul{
			display: none;
		}

	.logo{
		
	margin-top: 20px;	
	width:200px;
	height: 30px;
	margin-left: 2%;
		
	}
	.ham{
		display: block;
		position: absolute;
		right: 30px;
		top: 30px;
		height: 30px;
	}
.see1:hover{
	cursor: pointer;
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 0%);
}
main{
	height: 350vh;

}
.middle{
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-bottom: 50px;
	
}
.interactive{
	width: 100%;
	text-align: center;
	height: 80vh;
}
.middle img{
	display: block;
}
.middle img{
display: block;
  margin-left:5%;
  margin-bottom: -120px;
  width: 90%;
  height: 90%;
}
.midl{
	text-align: center;
	margin-left: 10%;
	font-size: 24px;
	 font-family: 'Alata', sans-serif;
	 padding-top: 20px;
	 width: auto;
	 
	
}
.sec{
	margin-left: 10%;
	width: 90%;
	font-size: 30px;
	width: auto;
}
.images1,.images2{
	display: none;
}
.middlep{
	font-size: 50px;
	text-align: center;
	width: 100%;
	width: auto;
	margin-left: 5%;

}
.sect1{
	margin-top: 50px;
	padding-top: 50px;
}
.sect1,.images{
		width: 100%;
		height: 290vh;
	}
.mobile1,.mobile2{
	display: grid;
	padding-bottom: 20px;
	
}
.images img{
	width: 90%;
	margin-left: 5%;
}
.para{
	font-size: 30px;
	width: 40%;
	padding-left: 7%;
	margin-bottom: -20px;
}
.see{
	display: none;
}

.see1{
	display: block;
	font-size: 30px;
	box-sizing: border-box;
	border: 2px solid hsl(0, 0%, 0%);
	width: 300px;
	font-family: 'Alata', sans-serif;
	height: 70px;
	padding-top: 15px;
	padding-left: 	100px;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
footer{
	width:auto;
	height: 650px;

}
.icon,.lst,footer ul li,footer{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer ul li{
	font-size: 30px;
	font-weight: bolder;
	margin-left: 12%;
}
.lst{
	display: block;
margin-left: auto;
margin-right: auto;
}
.icon{
	margin: 0;
	margin-top: 30px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.icon p{
	width:auto;
	font-size: 17px;
}
.fa-brands{
	font-size: 50px;
	width: 5%;
	display: inline-grid;
	
	
	}
	.fa-brands,p{

	}
.fa-facebook,
.fa-twitter-square,
.fa-pinterest-p,
.fa-instagram{
	padding-left: 30px;
}

}